[submodule "Common"]
	path = Common
	url = git@github.com:aquarchitect/SwiftLA.git
	branch = todolist-common
[submodule "Server"]
	path = Server
	url = git@github.com:aquarchitect/SwiftLA.git
	branch = todolist-server
[submodule "Client"]
	path = Client
	url = git@github.com:aquarchitect/SwiftLA.git
	branch = todolist-client
