[submodule "Server"]
	path = web
	url = git@github.com:aquarchitect/SwiftLA.git
	branch = todolist-web
[submodule "Client"]
	path = mobile
	url = git@github.com:aquarchitect/SwiftLA.git
	branch = todolist-mobile
